{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

On Brexit day, Britain will immediately be [excluded from hundreds of treaties](https://www.ft.com/content/f1435a8e-372b-11e7-bce4-9023f8c0fd2e) and agreements signed by the EU.

Many of the 759 arrangements listed below — from customs procedures and agricultural quotas, to the landing rights of planes — must be replaced, renegotiated or remade by Brexit Britain.

The negotiation will span 168 countries and is one of the biggest administrative challenges confronting Whitehall as Britain exits the EU. This list covers what Britain needs to stand still as it resets its relations with the world.

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

## About this list

This is a condensed table of EU bilateral and multilateral treaties and agreements, selected according to a number of criteria. It attempts to show the agreements Britain will lose after Brexit, and potentially may want to renegotiate or recreate once it leaves the union.

* The EU has 878 bilateral agreements and 268 multilateral treaties with third countries, according to [the EU treaty database](http://ec.europa.eu/world/agreements/default.home.do). However, many of these treaties have either expired, or been replaced by newer ones, with incremental amendments added. Wherever possible, we have only included the most recent version of a treaty.

* A number of treaties are still pending ratification by member states, and these have been excluded. However, despite this, some of the treaties marked as pending are in practice active; the EU-Canada air services agreement is one such example. Those have been included.

* Several categories of treaty will have little or no relevance to the UK after Brexit. Agreements on tax, the facilitation of EU visas, economic monetary union, enlargement of the EU, Schengen, EU crisis management operations, defence and home affairs have all been excluded.

* Some agreements are included that may only have indirect relevance to the UK. These arrangements would not necessarily be replicated, but may still need to be taken into account when Britain resets relations with third countries.

* The EU has also signed a series of multilateral treaties with the UN or World Trade Organisation. These are different from the other treaties in that the UK should be able to ‘plug in’ to these agreements with ease. They have thus been separated from the other multilateral treaties, which require the agreement of all participating member states. Ordinary multilateral treaties have been listed per country - thus a multilateral deal with five countries are listed as five separate entries.

* The table includes EU "equivalence" decisions on financial services, which provide access rights to third countries. These are decisions in EU law that are excluded from the EU treaty database. However many involve applications for equivalence by third countries, and extensive negotiations. Trade partners would likely take them as a starting point in financial services discussions with the UK after Brexit.

{% endmarkdown %}
{% include "components/table/index.html" %}
{% markdown %}


{% endmarkdown %}
{% endblock %}
