{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

The mammoth task of negotiating new free trade deals and maintaining existing ones will require a huge amount of money and manpower from Britain’s civil service.

The UK Trade Policy Observatory, an independent think tank, says that the UK will “in essence be taking on the same trade policy task as [the EU’s department for] Trade”. Given the nature of Brexit negotiations - high-stakes, short-timeframes - UKTPO says the UK “could need twice as many [negotiators] on its own side”. This would mean the UK requires 700 front-line negotiators.

Whitehall’s Trade Policy Group, which will lead the negotiations, has just 300 employees at present. There are also real concerns that many of the staff are ill-prepared for the negotiations, with many having had little experience of hammering out trade deals. 

“Despite the creation of a new trade department, the civil service and ministers are not even close to being ready to negotiate – let alone implement – new global trading relationships”, said Jill Rutter at the Institute for Government, a think tank. The civil service has begun a programme of intense training for its negotiators to make up for this lack of real world experience.

DIT started with just 45 trade officials last June, so insists it is not starting from scratch, but it also admits that those employees were simply “a support position for the European Commission”. Providing back up to the EU as it negotiates deals is very different beast from striking them yourself, however.

IFG, says that Whitehall should first focus on “building experience through a series of smaller deals that are easier to achieve” It argues these deals will provide vital real-world experience for the bigger deals ahead. 

But it remains concerned that the UK simply doesn’t have the experience to broker such deals. “Experience is the major gap in the UK’s capability,” says Ms Rutter. “While the Trade Policy Group does house a core of officials who have worked on trade policy previously, it has very few who have sat in the negotiating chair. Building the necessary experience will be a serious challenge for Whitehall.”

To begin with it has nothing to do with archaism, with the salvaging of obsolete words and turns of speech, or with the setting up of a "standard English" which must never be departed from. On the contrary, it isespecially concerned with the scrapping of every word or idiom which has outworn its usefulness.

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

## About this list

This is a condensed table of EU bilateral and multilateral treaties and agreements, selected according to on a number of criteria. It attempts to show the agreements Britain will lose after Brexit, and potentially may want to renegotiate or recreate once it leaves the union. 

The EU has 878 bilateral agreements and 268 multilateral treaties with third countries, according to [the EU treaty database](http://ec.europa.eu/world/agreements/default.home.do). However, many of these treaties have either expired, or been replaced by newer ones, with incremental amendments added. Wherever possible, we have only included the most recent version of a treaty.

A number of treaties are still pending ratification by member states, and these have been excluded. However, despite this, some of the treaties marked as pending are in practice active; the EU-Canada air services agreement is one such example. Those have been included.

Several categories of treaty will have little or no relevance to the UK after Brexit. Agreements on tax, the facilitation of EU visas, economic monetary union, enlargement of the EU, Schengen, EU crisis management operations, defence and home affairs have all been excluded. 

Some agreements are included that may only have indirect relevance to the UK. These arrangement would not necessarily be replicated, but may still need to be taken into account when Britain resets relations with third countries. 

The EU has also signed a series of multilateral treaties with the UN or World Trade Organisation. These are different from the other treaties in that the UK should be able to 'plug-in' to these agreements with ease. They have thus been separated from the other multilateral treaties, which require the agreement of all participating member states. Ordinary multilateral treaties have been listed per country - thus a multilateral deal with five countries are listed as five separate entries.

The table includes EU "equivalence" decisions on financial services, which provide access rights to third countries. These are decisions in EU law that are excluded from the EU treaty database. However many involve applications for equivalence by third countries, and extensive negotiations. Trade partners would likely take them as a starting point in financial services discussions with the UK after Brexit.

{% endmarkdown %}
{% include "components/table/index.html" %}
{% markdown %}


{% endmarkdown %}
{% endblock %}
